---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Podcast 1">
    <main>
        <h1>Podcast 1</h1>
        <Card title="Podcast EP1" text="Aca va el podcast">
        </Card>
    </main>
</Layout>
<style>
    iframe{
        height: 50%;
    }
</style>