---
interface Props {
	title: string;
    text: string;
}

const { title, text } = Astro.props;
---

<div>
    <h2>{title}</h2>
    <p>{text}</p>
    <slot />
</div>
<style>
    div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: black;
        border-radius: 10px;
        margin: 10px;
    }
    h2{
        text-align: center;
        color: red;
    }
</style>